<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>By Avinash Mahlawat</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>cname</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>curl</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  <context-param>
    <param-name>cuser</param-name>
    <param-value>avinash</param-value>
  </context-param>
  <context-param>
    <param-name>cpass</param-name>
    <param-value>tiger</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>InsertProjectDetails</display-name>
    <servlet-name>InsertProjectDetails</servlet-name>
    <servlet-class>app.project.details.InsertProjectDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertProjectDetails</servlet-name>
    <url-pattern>/InsertProjectDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayData</display-name>
    <servlet-name>DisplayData</servlet-name>
    <servlet-class>app.project.details.DisplayData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayData</servlet-name>
    <url-pattern>/DisplayData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertProjectServlet</display-name>
    <servlet-name>InsertProjectServlet</servlet-name>
    <servlet-class>app.project.details.InsertProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertProjectServlet</servlet-name>
    <url-pattern>/InsertProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProjectServlet</display-name>
    <servlet-name>DeleteProjectServlet</servlet-name>
    <servlet-class>app.project.details.DeleteProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProjectServlet</servlet-name>
    <url-pattern>/DeleteProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateData</display-name>
    <servlet-name>UpdateData</servlet-name>
    <servlet-class>app.project.details.UpdateData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateData</servlet-name>
    <url-pattern>/UpdateData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProjectServlet</display-name>
    <servlet-name>UpdateProjectServlet</servlet-name>
    <servlet-class>app.project.details.UpdateProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProjectServlet</servlet-name>
    <url-pattern>/UpdateProjectServlet</url-pattern>
  </servlet-mapping>
</web-app>